body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #6009eb;
}

.calculator {
    background-color: #1a1616;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 95%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    border: none;
    background-color: #fcfcf8;
    padding: 10px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    background-color: #3498db;
    color: #1b1313;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #ee8f09;
}

button:active {
    background-color: #0987ed;
}
